*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.outer {
    height: 100vh;
    /* border: 2px solid black; */
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 85px calc(100vh - 170px) 85px;
}

.outer > .nav {
    grid-column: span 2;
    display: flex;
    justify-content: space-around; 
    background-color: cornflowerblue;
    align-items: center;
}

.nav > h4 {
    font-size: 25px;
    font-weight: bold;
    text-transform: capitalize;
    color: white;
    text-shadow: 2px 2px 2px black;
}

.nav > ul {
    display: flex;
    gap: 30px;
}
.nav > ul > li {
    list-style: none;
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
    color: white;
    text-shadow: 2px 2px 2px black;
}

.outer > .left {
    display: flex;
    justify-content: center;
}

.outer > .right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    text-align: center;
    margin: 100px;
}

.right > h1 {
    font-size: 40px;
    font-weight: bold;
    text-transform: capitalize;
}

.right > p {
    font-size: 18px;
    letter-spacing: 0.3px;
}

.right > button {
    padding: 10px 20px;
    border-radius: 10px;
    font-size: 15px;
    text-transform: capitalize;
    background-color: cornflowerblue;
    border: none;
    color: white;
}

.outer > .footer {
    background-color: cornflowerblue;
    grid-column: span 2;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer > h5 {
    font-size: 18px;
    text-transform: capitalize;
    color: white;
}


@media (max-width: 1024px) {
  .outer {
    grid-template-columns: 1fr; 
    grid-template-rows: auto auto auto auto; 
  }

  .outer > .left,
  .outer > .right {
    grid-column: 1 / -1;
    margin: 20px;
  }

  .outer > .right {
    margin: 40px; 
  }
}

@media (max-width: 600px) {
    .outer {
      grid-template-columns: 1fr;   
      grid-template-rows: auto auto auto auto;
      width: 100%;                
      /* overflow-x: hidden; */
    }
  
    .outer > .left,
    .outer > .right,
    .outer > .nav,
    .outer > .footer {
      grid-column: 1 / -1;
      width: 100%;                 
    }
  
    .outer > .right {
      margin: 20px;  
      width: 100%;
      padding-right: 40px;
      box-sizing: border-box;       
    }
  
    .left > img {
      width: 100%;                 
      height: auto;                 
    }
  
    .nav {
      flex-direction: column;
      align-items: center;
      padding: 10px;
      width: 100%;                 
    }

    .nav > h4{
        padding: 10px;
    }
  
    .nav > ul {
      flex-direction: column;
      align-items: center;
      gap: 12px;
      width: 100%;                
    }
  
    .footer {
      width: 100%;               
    }
  }
  
