*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.outer {
    height: 100vh;
    background-image: linear-gradient(pink,blue,lightgreen);

    display: grid;
    /* grid-template-columns: 160px 290px 340px; */
    /* grid-template-columns: 1fr 2fr 1fr; */

    grid-template-columns: 200px 250px 300px;
    grid-auto-rows: 100px;
    justify-content: center;
    align-content: center;
    gap: 5px;
}

.outer > .box {
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-weight: bold;
    font-style: italic;
}

.outer > #box1 {
    grid-column: span 3;
    background-color: red;
    border-radius: 10px;
}

.outer > #box2 {
    grid-row: span 2;
    background-color: green;
    border-radius: 10px;
}

.outer > #box3 {
    grid-column: span 2;
    background-color: skyblue;
    border-radius: 10px;
}

.outer > #box4 {
    background-color: lightcoral;
    border-radius: 10px;
}

.outer > #box5 {
    background-color: orange;
    border-radius: 10px;
}

.outer > #box6 {
    background-color: ivory;
    border-radius: 10px;
}

.outer > #box7 {
    background-color: chocolate;
    border-radius: 10px;
}

.outer > #box8 {
    grid-row: span 2;
    background-color:lightsalmon;
    border-radius: 10px;
}

.outer > #box9 {
    background-color: crimson;
    border-radius: 10px;
}

.outer > #box10 {
    border-radius: 10px;
    background-color: magenta;
}